body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cell-background {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.playerred,
.playeryellow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.1px solid black;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.playerred{
  background-color: red;
}

.playeryellow {
  background-color: yellow;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
